#flowers {
<<<<<<< HEAD
    width: 100%;
=======
    width: 1200px;
>>>>>>> parent of c1874b2 (commitshit)
    align-items: center;
    
}

body{
    font-family: serif;
    font-size: 18px;
    margin-left: 2.0em;
    background-color: lightgray;
}
#title {
    font-size: 36px;
}
h1 {
    font-size: 62px;
    font-family: sans-serif;
    font-weight: bolder;
}
#undertitle {
    font-family: sans-serif;
}
#journalist{color: orange;
}
#textpic{
    font-size: 24px; 
    font-family: sans-serif;
}
#textpic{
    font-size: 24px;
    font-family: sans-serif;
    
}
.subtitle {
    font-size: 28px;
    font-family: sans-serif;
 }



a{
    font-size: 24px;
    text-decoration: none;
}

#main{
    margin-left: 600px;  
}
#bildetekst{
    font-size: 16px;
}