#flowers {
    width: 60%;
    height: 40%;
    align-items: center;
    
}

body{
    font-family: serif;
    margin-left: 2.0em;
    background-color: lightgray;
}
#title {
    font-size: 12px;
}
h1 {
    font-weight: bolder;
} 
